/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 16, ../sass/screen.scss */
body {
  color: #3c393e;
  /* index page specific styles */
  /* products page specific styles */
}
/* line 17, ../sass/screen.scss */
body .row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 22, ../sass/screen.scss */
body .navigation {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2em;
  color: #fff;
}
/* line 27, ../sass/screen.scss */
body .navigation .navbar-brand {
  color: #fff;
}
/* line 29, ../sass/screen.scss */
body .navigation .navbar-brand:hover {
  color: #9d9d9d;
}
/* line 35, ../sass/screen.scss */
body .company-brief {
  padding-bottom: 25px;
}
/* line 37, ../sass/screen.scss */
body .company-brief .company-name {
  color: #ff8503;
  text-align: center;
  font-size: 3em;
}
/* line 41, ../sass/screen.scss */
body .company-brief .company-name span {
  font-weight: lighter;
}
/* line 45, ../sass/screen.scss */
body .company-brief .company-contacts {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #838993;
}
/* line 50, ../sass/screen.scss */
body .company-brief .company-contacts h3 {
  font-size: 1.2em;
}
/* line 54, ../sass/screen.scss */
body .company-brief .company-contacts p {
  font-size: 0.9em;
  font-weight: bold;
}
/* line 65, ../sass/screen.scss */
body .image-slider .carousel-inner .item img {
  width: 100%;
  height: auto;
}
/* line 73, ../sass/screen.scss */
body .company-services {
  padding-top: 50px;
  text-align: center;
}
/* line 76, ../sass/screen.scss */
body .company-services .serv {
  font-size: 90%;
  padding: 20px;
}
/* line 79, ../sass/screen.scss */
body .company-services .serv span {
  font-weight: lighter;
}
/* line 82, ../sass/screen.scss */
body .company-services .serv a {
  color: #ff8503;
}
/* line 88, ../sass/screen.scss */
body .company-services .service1 {
  border-right: 1px dotted #a5aab4;
}
/* line 92, ../sass/screen.scss */
body .company-services .service1 {
  text-align: left;
}
/* line 88, ../sass/screen.scss */
body .company-services .service2 {
  border-right: 1px dotted #a5aab4;
}
/* line 88, ../sass/screen.scss */
body .company-services .service3 {
  border-right: 1px dotted #a5aab4;
}
@media screen and (max-width: 991px) {
  /* line 99, ../sass/screen.scss */
  body .company-services .service1, body .company-services .service2, body .company-services .service3 {
    border: none;
  }
}
/* line 104, ../sass/screen.scss */
body .needs {
  background-image: url("../images/bg_1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  height: auto;
}
/* line 111, ../sass/screen.scss */
body .needs .needs-text {
  padding-top: 80px;
  text-align: center;
}
/* line 114, ../sass/screen.scss */
body .needs .needs-text h3 {
  font-weight: lighter;
}
/* line 118, ../sass/screen.scss */
body .needs .need-imgs {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 121, ../sass/screen.scss */
body .needs .need-imgs .need-img {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 124, ../sass/screen.scss */
body .needs .need-imgs .need-img img {
  display: block;
  border-radius: 1000px;
  border-style: solid;
  border-width: 5px;
  padding: 2px;
  border-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  width: 90%;
}
/* line 133, ../sass/screen.scss */
body .needs .need-imgs .need-img img:hover {
  opacity: 0.7;
}
/* line 140, ../sass/screen.scss */
body .profile {
  background-color: #e9eaec;
  padding-bottom: 100px;
}
/* line 143, ../sass/screen.scss */
body .profile .profile-top {
  border-bottom: 2px solid #9d9d9d;
}
/* line 145, ../sass/screen.scss */
body .profile .profile-top .btns {
  padding: 5px;
}
/* line 149, ../sass/screen.scss */
body .profile #customNav {
  overflow: auto;
  padding-left: 10%;
  margin-bottom: 5px;
}
/* line 154, ../sass/screen.scss */
body .profile #customNav .owl-prev {
  border-radius: 10px 0px 0px 10px;
  margin-top: 10px;
  cursor: pointer;
  float: left;
  padding: 7px;
  border: 1px solid #9d9d9d;
}
/* line 163, ../sass/screen.scss */
body .profile #customNav .owl-next {
  border-radius: 0px 10px 10px 0px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  float: left;
  padding: 7px;
  border: 1px solid #9d9d9d;
}
/* line 173, ../sass/screen.scss */
body .profile .owl-carousel {
  margin-top: 10px;
}
/* line 175, ../sass/screen.scss */
body .profile .owl-carousel .item {
  margin: 15px;
  box-shadow: 5px 2px 12px 0px #6b676b;
}
/* line 178, ../sass/screen.scss */
body .profile .owl-carousel .item .item-caption {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}
/* line 187, ../sass/screen.scss */
body .workmanship {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  height: 400px;
  background-image: url("../images/bg_2.jpg");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}
/* line 199, ../sass/screen.scss */
body .workmanship h3 {
  font-style: italic;
}
/* line 202, ../sass/screen.scss */
body .workmanship p {
  font-size: 110%;
  font-weight: lighter;
}
/* line 207, ../sass/screen.scss */
body .feedbacks {
  padding-top: 70px;
  background: #fff;
}
/* line 210, ../sass/screen.scss */
body .feedbacks .feedback {
  position: relative;
  background-color: #e9eaec;
  quotes: none;
  padding: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 1px;
  border-left: none;
  font-size: 0.85em;
  color: #71757d;
  padding: 40px 30px 40px 40px;
}
/* line 223, ../sass/screen.scss */
body .feedbacks .feedback:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 15px 0;
  border-color: #e9eaec transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -20px;
  left: 47%;
}
/* line 235, ../sass/screen.scss */
body .feedbacks .feedback .who {
  font-weight: bold;
  color: #000;
  font-size: 1.5em;
}
/* line 240, ../sass/screen.scss */
body .feedbacks .feedback .our-customer {
  font-style: italic;
}
/* line 245, ../sass/screen.scss */
body .feedbacks .col-md-4 .customer-pic {
  border-radius: 150px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 253, ../sass/screen.scss */
body .companies {
  padding: 40px;
  background-color: #e9eaec;
}
/* line 256, ../sass/screen.scss */
body .companies img {
  display: block;
  margin: auto;
}
/* line 262, ../sass/screen.scss */
body .footer {
  background-image: url("../images/bg_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 271, ../sass/screen.scss */
body .footer .link {
  color: #fff;
}
/* line 273, ../sass/screen.scss */
body .footer .link:hover {
  color: #ff8503;
}
/* line 280, ../sass/screen.scss */
body .welding-products {
  background-color: #e9eaec;
  padding-top: 80px;
  padding-bottom: 60px;
}
/* line 284, ../sass/screen.scss */
body .welding-products h2 {
  text-align: center;
  padding-bottom: 20px;
}
/* line 290, ../sass/screen.scss */
body .welding-products .welding-pic img {
  width: 90%;
  margin-top: 40px;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* line 297, ../sass/screen.scss */
body .welding-products .welding-features {
  padding-top: 30px;
}
/* line 299, ../sass/screen.scss */
body .welding-products .welding-features ul {
  list-style-type: none;
}
/* line 301, ../sass/screen.scss */
body .welding-products .welding-features ul li {
  overflow: auto;
}
/* line 303, ../sass/screen.scss */
body .welding-products .welding-features ul li img {
  float: left;
  margin-top: 25px;
  width: 10%;
  height: auto;
}
/* line 309, ../sass/screen.scss */
body .welding-products .welding-features ul li .feature-descr {
  display: inline;
  float: right;
  width: 80%;
  margin-top: 10px;
}
/* line 314, ../sass/screen.scss */
body .welding-products .welding-features ul li .feature-descr h4 {
  margin-top: 0px;
}
/* line 317, ../sass/screen.scss */
body .welding-products .welding-features ul li .feature-descr p {
  font-weight: lighter;
  font-size: 1.2em;
  margin-right: 5px;
  padding-right: 15px;
}
